// Add rule overrides as needed.
{
    "extends": "airbnb/base",

    "rules": {
        "indent": [2, 4],
        "comma-dangle": [2, "never"],
        "object-curly-spacing": [2, "never"],
        "no-param-reassign": [2, {"props": false}],
        "no-use-before-define": [2, "nofunc"]
    }
}